@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
    font-family: "Noto Serif", sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    padding: 1em;
    text-align: center;
    background-color: purple;
    color: ghostwhite;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    font-size: 1.25em;
    border-top: 0.1em solid;
    justify-content: flex-end;
    align-items: center;
    background-color: gray;
    color: ghostwhite;
}

nav i {
    margin-right: auto;
    padding: 0.25em;
}

nav a:link,
nav a:visited {
    text-decoration: none;
    padding: 0.25em;
    border-left: 0.1em solid;
    color: ghostwhite;
}

nav a:hover,
nav a:active {
    background-color: purple;
}

#flex-1,
#flex-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 2em;
}

#flex-1 h3 {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    padding: 1.5em;
    border-radius: 1em;
    border: 0.15em solid;
    border-color: gray;
    background-color: antiquewhite;
}

#flex-2 h3 {
    width: 20%;
    margin-right: 40%;
    margin-left: 40%;
    padding: 0.5em;
    border-radius: 1em;
    border: 0.15em solid;
    border-color: gray;
    background-color: antiquewhite;
}

.flex-item {
    width: 25%;
    margin: 2em;
    border-radius: 1em;
    border: 0.1em solid;
    border-color: gray;
    color: ghostwhite;
    background-color: rgb(64, 64, 64);
}

.desc-1,
.desc-2 {
    padding: 0.5em;
    text-align: justify;
}

.desc-1 {
    border-top: 0.1em solid;
}

hr {
    border: 0.5em solid;
    border-color: gray;
}

img {
    width: 100%;
    border-top: 0.1em solid;
    border-bottom: 0.1em solid;
    border-color: ghostwhite;
}

footer {
    background-color: gray;
    color: ghostwhite;
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

td,
table,
button {
    padding: 0.25em;
    width: 50%;
    border-radius: 1em;
}

textarea,
input {
    width: 100%;
    border-radius: 0.5em;
    padding: 0.1em;
    resize: none;
}

#button {
    text-align: center;
}

ul {
    list-style-type: none;
    background-color: darkgray;
    border-radius: 0.5em;
    width: 20%;
}

li {
    display: block;
    padding: 0.25em;
}

li a:link,
li a:visited {
    text-decoration: none;
    padding: 0.25em;
    color: ghostwhite;
}

li:hover {
    background-color: gray;
}